# pixi environments
.pixi
*.egg-info
*.lock
# misc
__pycache__

# Mojo artifacts
*.mojopkg

# llvm
*.ll

# Specific to this project
solutions/p16/p16_optimized
*.nsys-rep
*.ncu-rep
*.qdrep
*.sqlite
*.txt
**/p*/p*_profiler
